@import '../../Styles/vars';

#Menu {
  background: $navbar-bg-color;
  color: $navbar-title-color;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 2em;
  padding: 1em 0;
}
a{
  text-decoration: none;
  list-style-type: none;
  color: $navbar-title-color;
  transition-duration: 800ms;
}
a:hover{
  font-size: 1.2em;
}