@import '../../Styles/vars';

#Menu {
  background: $navbar-bg-color;
  color: $navbar-title-color;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 2em;
  padding: 1em 0;
}
#Menu a{
  color: $navbar-title-color;
  transition-duration: 800ms;
}
#Menu a:hover{
  font-size: 1.2em;
}