// Variables CSS

// Navbar & Footer
$navbar-bg-color: #2C3E50;
$navbar-font-color: #F0F3F4;
$navbar-title-color: #F0F3F4;

// Background color
$main-color-bg: white;
$alt-color-bg: black;

// font color
$main-font-color: #414345;
$alt-font-color: white;
$main-title-color: black;
$alt-title-color: white;
$main-font-color-contents: #414345;
$alt-font-color-contents: lightgrey;