@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
// Variables CSS

// Navbar & Footer
$navbar-bg-color: #2C3E50;
$navbar-font-color: #F0F3F4;
$navbar-title-color: #F0F3F4;

// Background color
$main-color-bg: white;
$alt-color-bg: black
