@import '../../Styles/_vars';

.competences-list {
  display: flex;
  flex-direction: column;
  padding: 1vw;
  color: $navbar-bg-color;
}
.competences-icon {
  display: flex;
  justify-content: space-between;
}
.contents p {
  padding-bottom: 5vh;
}
.competences-list i.icon {
  font-size: 5vw!important;
}
.competences-list .darkTheme {
  color: $alt-font-color;
  background: transparent;
  transition-duration: 2000ms;
}
.competences-list i {
  transition-duration: 2000ms;
}
#softskills li {
  padding-bottom: 1em;
}
#softskills p {
  padding: 0!important;
}