@import '../../Styles/_vars';

.competences-list {
  display: flex;
  flex-direction: column;
  padding: 1vw;
  color: $navbar-bg-color;
}
.competences-icon {
  display: flex;
  justify-content: space-between;
  font-size: 5em;
  width: 50%;
  margin: 0 auto;
}
.contents p {
  padding-bottom: 5vh;
}
.competences-list i.icon {
  font-size: 5vw!important;
}
.darkTheme .competences-icon {
  color: #1F70BF;
}
.skills-list li, .competences-icon {
  transition-duration: 2000ms;
}
#softskills li {
  padding-bottom: 1em;
}
#softskills p {
  padding: 0!important;
}