@import '../../Styles/_vars';

.competences-list {
  display: flex;
  justify-content: space-between;
  padding: 1vw;
  color: $navbar-bg-color;
  flex-wrap: wrap;
}
.contents p {
  padding-bottom: 5vh;
}
.competences-list i.icon {
  font-size: 5vw!important;
}
.competences-list .darkTheme {
  color: white;
  background: transparent;
  transition-duration: 2000ms;
}
.competences-list i {
  transition-duration: 2000ms;
}