@import '../../Styles/vars';

#Footer {
  background: $navbar-bg-color;
  color: $navbar-title-color;
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 1em;
  padding: 1em 0;
}