@import '../../Styles/_vars';
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Bangers&display=swap');

#reseaux {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 3vh;
}
#Home {
  display: flex;
  flex-direction: column;
}
#home-presentation hr {
  width: 10%;
}
.contents, #softskills {
  padding: 3vh 0;
  font-weight: 700;
}
#reseaux i.icon {
  font-size: 4vw!important;
}
#reseaux h2 {
  font-size: 2.2vw;
}
#myself {
  font-family: Lobster;
  margin: 0 auto;
  font-size: 5vmin;
}
#myJob {
  font-family: Bangers;
  margin: 0 auto;
  font-size: 4.8vmin;
  letter-spacing: 0.15em;
}