@import '../../Styles/_vars';

@media only screen and (max-width: 700px) {
  .project-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
  }
  .project-card {
    width: 100%!important;
    margin-bottom: 1em!important;
  }
  .project-content img {
    width: 100%;
  }
}
@media only screen and (min-width: 701px) {
  .project-content {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 4vh;
  }
  .project-content img {
    width: 35vw;
    height: 45vh;
  }
}

#portfolio-cards {
  display: flex;
  flex-direction: column;
  padding: 4vh 0;
}

.project-content img {
  box-shadow: 10px 5px 5px grey;
  border-radius: 1em;
}
.ui.card {
  background: $navbar-bg-color!important;
  margin: 0!important;
  box-shadow: 10px 5px 5px grey!important;
  border-radius: 1em!important;
}
.header, .extra {
  color: white!important;
  font-size: 2vh!important;
} 
.description {
  color: grey!important;
  font-size: 1.5vh!important;
}
.techno {
  color: whitesmoke;
  padding: 0.5vh 0;
  font-size: 1.2vw
}
#portfolio .titre {
  padding-top: 5vh;
}
.project-card {
  width: 20vw!important;
}
