@import '../../Styles/_vars';

#portfolio-cards {
  display: flex;
  flex-direction: column;
  padding: 4vh 0;
}
.project-content {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 4vh;
}
.project-content img {
  box-shadow: 10px 5px 5px grey;
  border-radius: 1em;
}
.ui.card {
  background: $navbar-bg-color!important;
  margin: 0!important;
  box-shadow: 10px 5px 5px grey!important;
  border-radius: 1em!important;
}
.header, .extra {
  color: white!important;
  font-size: 2vh!important;
} 
.description {
  color: grey!important;
  font-size: 1.5vh!important;
}
.techno {
  color: whitesmoke;
  padding: 0.5vh 0;
}
#portfolio .titre {
  padding-top: 5vh;
}
.project-card {
  width: 40%!important;
}