@import '../../Styles/_vars';

#Contact a {
  color: $main-font-color;
  font-size: 2vmin;
  transition-duration: 800ms;
}
#Contact a:hover {
  font-size: 3vh;
}
.darkLink a{
  color: $alt-font-color!important
}
#Contact {
  display: flex;
}