body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#Home, #competences, #portfolio, #contact {
  width: 100%;
  text-align: center;
}
.content {
  width: 75%;
  margin: auto;
}

a {
  text-decoration: none;
  list-style-type: none;
}

hr{
  width: 50%;
  transition-duration: 800ms;
}
hr:hover{
  width: 100%;
}

.titre{
  font-size: 5vmin;
  padding-bottom: 3vh;
}
.content p {
  font-size: 2vmin;
}