@import url('https://fonts.googleapis.com/css?family=Suez+One&display=swap');

li {
  list-style: none;
}

#App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
}

.darkTheme {
  background-color: black;
  color: white;
}

@media only screen and (max-width: 999px) {
  #Portfolio, #Home, #Competences, #Contact {
    background-image: url("../../assets/splash-very-low.png");
    background-size: cover;
  }
  #Home, #Competences, #Contact {
    height: 100%;
    display: flex;
  }
}
@media only screen and (min-width: 1000px) {
  #Portfolio, #Home, #Competences, #Contact {
    background-image: url("../../assets/splash-low.png");
    background-size: cover;
  }
  #Home, #Competences, #Contact {
    height: 100%;
    display: flex;
  }
}