@import url('https://fonts.googleapis.com/css?family=Suez+One&display=swap');

li {
  list-style: none;
}

#App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition-duration: 900ms;
}

.darkTheme {
  background-color: black;
  color: white;
  transition-duration: 900ms;
}
.darkTheme {
  background-color: black;
  color: white;
}
.lightTheme {
  background-color: white;
  color: black
}

@media only screen and (max-width: 999px) {
  #App {
    background-image: url("../../assets/splash-low.png");
    background-size: cover;
  }
}
@media only screen and (min-width: 1000px) {
  #App {
    background-image: url("../../assets/splash-light.png");
    background-size: cover;
  }
}